body {
  margin:0;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content:center;
}

.container {
  width:80%;
  max-width:1000px;
}

h1 {
  margin-top:20px;
}

p {
  color: white;
  background-color: rgba(19, 19, 19, 0.452);
  padding: 5px;
  border: 1px solid black;
}

#map {
  width:100%;
  height:60vh;
  min-height:400px;
  margin-top:10px;
}

.panel {
  margin-top:10px;
}